*{
    margin: 0%;
    padding: 0;
    box-sizing: border-box;
}
.title{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
    background-color: rgb(173, 173, 173);
    padding-top: 5px;
}
.container{
    padding-top: 30px;
}
.card{
    text-align: center;
    margin-bottom: 20px;
    border: 1px solid gray;
    width: 270px;
    border-radius: 0;
    display: flex; 
}

.Avatar{
    padding-top: 10px;
}
.top-image{
    border-radius: 50%;
    border: 2px solid pink;
}
.card-title{
    font-size: 25px;
    padding-top: 10px;
    font-weight: 500;
}
.card-text{
    font-size: 15px;
    font-weight: normal;
    color: lightcoral;
}